[submodule "bv-eCommerce-core"]
	path = bv-eCommerce-core
	url = https://github.com/nitinkc/bv-eCommerce-core.git
[submodule "bv-chat-stream"]
	path = bv-chat-stream
	url = https://github.com/nitinkc/bv-chat-stream.git
[submodule "bv-social-pulse"]
	path = bv-social-pulse
	url = https://github.com/nitinkc/bv-social-pulse.git
[submodule "bv-iot-control-hub"]
	path = bv-iot-control-hub
	url = https://github.com/nitinkc/bv-iot-control-hub.git
[submodule "BitVelocity.wiki"]
	path = BitVelocity.wiki
	url = https://github.com/nitinkc/BitVelocity.wiki.git
[submodule "bv-infra-service"]
	path = bv-infra-service
	url = https://github.com/nitinkc/bv-infra-service.git
[submodule "bv-security-core"]
	path = bv-security-core
	url = https://github.com/nitinkc/bv-security-core.git
